@model HotelProject.WebUI.Dtos.AppUserDto.UserLoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Otel Rezervasyon Sitesi Giriş Sayfası</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <link href="~/adminweb/css/style.css" rel="stylesheet" />
</head>

<body class="h-100">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">

                                <div style="display: flex; align-items: center;">
                                    <div style="margin-right: 20px;">
                                        <img src="~/logos/hotelproject-transparant-gray.png" alt="Logo" style="width: 100px;" />
                                    </div>
                                    <div>
                                        <a href="#" style="text-decoration: none; color: inherit;">
                                            <h4>Otel Rezervasyon Sitesi Giriş Sayfası</h4>
                                        </a>
                                    </div>
                                </div>

                                <form asp-action="Login" asp-controller="Auth" method="post" class="mt-5 mb-5 login-input">
                                    <div class="form-group">
                                        <input type="email" asp-for="Mail" class="form-control" placeholder="Email" />
                                        <span asp-validation-for="Mail" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Sign In</button>
                                </form>
                                <p class="mt-5 login-form__footer">Hesabınız yok mu? <a asp-action="Register" asp-controller="Auth" class="text-primary">Şimdi Kaydolun</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/adminweb/plugins/common/common.min.js"></script>
    <script src="~/adminweb/js/custom.min.js"></script>
    <script src="~/adminweb/js/settings.js"></script>
    <script src="~/adminweb/js/gleek.js"></script>
    <script src="~/adminweb/js/styleswitcher.js"></script>
</body>

</html>
