@model UpdateGuestDto

@{
    ViewData["Title"] = "UpdateGuest";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<form method="post">
     <input type="hidden" asp-for="GuestId" />
    <label>Ziyaretçi Adı:</label>
    <input type="text" asp-for="GuestName" class="form-control" />
    <br />
    <label>Ziyaretçi Soyadı:</label>
    <input type="text" asp-for="GuestSurname" class="form-control" />
    <br />
    <label>Ziyaretçi Şehri:</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />
    <button class="btn btn-primary">Ziyaretçi Ekle</button>
</form>