@{
    Layout = null;
}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PersoneLock</title>
    <link href="~/homepage/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Agdasima&amp;display=swap">
    <link href="~/homepage/css/bs-theme-overrides.css" rel="stylesheet" />
    <link href="~/homepage/css/animate.min.css" rel="stylesheet" />
    <link href="~/homepage/css/features-image-icons.css" rel="stylesheet" />
    <link href="~/homepage/css/features-image-images.css" rel="stylesheet" />
    <link rel="icon" href="~/homepage/logos/favicon.ico">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-body py-3">

    </nav>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6">
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid shadow d-inline float-end bounce animated w-100 fit-cover" style="min-height: 300px;width: 317px;" src="~/logos/HotelProject-transparant-gray.png" width="354" height="354"></div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-center">
                <div style="max-width: 350px;">
                    <p class="fs-3 fw-semibold text-black shadow-lg my-3">Otel Rezervasyon Sitesi<br>Ana Sayfası&nbsp;</p>
                    <a class="btn btn-outline-primary btn-lg border rounded shadow d-inline-block float-start me-2" role="button" href="/LoginAdmin/LoginAdmin/" data-bs-target="1">Admin Girişi</a>
                    <a class="btn btn-outline-primary btn-lg border rounded shadow" role="button" href="/LoginEmployee/LoginEmployee/" data-bs-target="2">Personel Girişi</a>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/homepage/js/bootstrap.min.js"></script>
    <script src="~/homepage/js/bs-init.js"></script>
</body>

</html>
